{% load static %}

<html>
    <head>
        <title>{{page_title}}</title>
        <script src="{% static 'js/nav.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'css/admin/nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin/edit.css' %}">
        <link rel="stylesheet" href="{% static 'css/DetachedMenu.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
        <link rel="stylesheet" href="{% static 'css/success-message.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href='{% static "images/admin/icon.png" %}' type="image/icon type">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        <script>
            window.addEventListener('load', () => {
                detached_pop_up_menu.style.top = '70px';
                detached_pop_up_menu.style.right = '0px';

                if(document.querySelector('.no-data')){
                    right_container = document.querySelector('.right-container');
                    right_container.style.justifyContent = 'center';
                }
            });
        </script>
    </head>

    <body>
        <div class="container">
            <div class="nav-bar">
                <div class="left-nav">
                    <a href="{% url 'admin-index' %}">ADMIN</a>
                </div>

                <div class="right-nav">
                    <img src="{{request.user.ProfileImage.url}}" alt="" class="profile-img">

                    <div class="detached-pop-up hide">
                        <a href="{% url 'admin-change-password' %}">
                            <i class='bx bxs-lock' ></i>
                            <p>Change password</p>
                        </a>

                        {% if request.user.is_staff is False %}
                            <a href="{% url 'add-users' %}">
                                <i class='bx bxs-user-circle'></i>
                                <p>Add Users</p>
                            </a>
                        {% endif %}

                        <a href="{% url 'add-question' %}">
                            <i class='bx bxs-add-to-queue'></i>
                            <p>Add Questions</p>
                        </a>

                        <a href="{% url 'logout' %}">
                            <i class='bx bx-log-out' ></i>
                            <p>Logout</p>
                        </a>
                    </div>
                </div>

            </div>

            <div class="block-content">
                <div class="left-container">
                    {% include 'admin/side-bar.html' %}
                </div>

                <div class="right-container">
                    {% if search_form_url %}
                        {% include 'admin/search.html' %}

                    {% endif %}

                    {% if data_details == 'No data found' %}
                        <p class="no-data">{{data_details}}</p>

                    {% else %}
                        {% block content %}
                        {% endblock %}

                        {% include 'JumpToNextPage.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
