{% extends nav_template %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/modeltest.css' %}">
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <form  action="{% url 'get-result' %}" method="POST" id="quiz-form">
        {% csrf_token %}

        <div class="QuestionAnotherContainer taking-test">
            <div class="timer">
                <p id="timer-text">Starts at: 5</p>
            </div>

            <div class="Questions" id="questions-root">
            </div>
        </div>
    </form>

    {% if request.user.is_superuser is False %}
        <a href="#" class="go-to-top">
            <i class='bx bx-up-arrow-alt up-arrow'></i>
        </a>

        <script>
            var is_checked = '{% if questions.0.checked == True %}true{% else %}false{% endif %}';
        </script>

        <script id="question_details"  type="application/json">
            {{questions_json|safe}}
        </script>

        <script src="{% static 'js/scroll.js' %}" defer></script>
        <script src="{% static 'js/ModelTest.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'css/scroll.css' %}">

    {% else %}
        <link rel="stylesheet" href="{% static 'css/admin/modeltest.css' %}">
    {% endif %}

{% endblock %}
